body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

    width: 350px;
    margin: 40px auto;   /* 🔥 centers horizontally + allows scroll */
}
input {
    padding: 12px;
    width: 90%;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.present {
    background: #28a745;
    color: white;
}

.absent {
    background: #dc3545;
    color: white;
}

button:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 8px;
    border-radius: 6px;
}
table {
    max-height: 300px;
    overflow-y: auto;
    display: block;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #333;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}
th:nth-child(1),
td:nth-child(1) {
    width: 30%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 50%;
}