body{
    font-family: Arial, sans-serif;
    margin:0;
    background-image:url("../images/background.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    opacity:1;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
form{
    margin-top:0;
}

input{
    width:224px;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:10px;

    background:rgba(255,255,255,0.9);
}

button{
    margin-top:15px;
    padding:10px 22px;
    border:none;
    border-radius:10px;
    width: 250px; ;
    background:rgb(46, 124, 226);
    color:white;
    text-align: center;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#1e5fb6;
}
ul{
list-style:none;
}
.login-box{
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(12px);
    padding:20px;
    border-radius:18px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;

    box-shadow:0 8px 25px rgba(0,0,0,0.25);
    margin-top:120px
}
select{
    width:250px;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:rgba(255,255,255,0.9);
}
.menu{
padding:0;
margin-top:15px;
width:100%;
}

.menu li{
background:rgba(255,255,255,0.25);
margin:10px 0;
padding:12px;
border-radius:10px;
text-align:center;
font-weight:500;
backdrop-filter:blur(8px);
cursor:pointer;
transition:0.2s;
}

.menu li:hover{
background:rgba(255,255,255,0.4);
transform:scale(1.03);
}
.menu-link{
text-decoration:none;
color:inherit;
display:block;
}